.calculator-screen-container{
    width: 400px;
    height: 150px;
    border-radius: 10px;
    /* border: 2px solid black; */
      background-color: var(--screen-clr);
    margin-top: 10px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:flex-end;
    padding:20px ;
    font-size: 35px;
    font-weight: bold;
}

 /* .calculator-screen-container>.history-screen{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* /* .calculator-screen-container>.result-screen{
  display: flex;
  justify-content: flex-end;
   align-items: center; 
}
  */
