/* .calculator-button-container{
    height: 300px;
    width: 400px ;
    border: 2px solid black;
} */

.button-input{
    width: 70px;
    box-shadow: 0px -5px 10px 0px rgba(170, 169, 169, 0.5);
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: 20px;

}