.calculator-container{
    background-color:var(--bg-color);
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
    border-radius:10px;
    box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.5)
    /* border: 2px solid black; */
}

.button-container{
    width: 400px;
    height: 300px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container >.button{
    display: flex;
    justify-content:center;
    gap: 8px;
    /* border: 2px solid black; */
    width: 350px;
    height:100px;
    padding: 2px;
}